/*     Fuentes    */

body{
    font-family: 'Raleway', sans-serif;
}



/*     Header    */

.cabecera{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background: #F5F5F5;
    height: 56px;
}
.cabecera__titulo{
    font-size: 16px;
    font-weight: bold;
}
.cabecera__lista--link{
    display: none;
}
.lista__email{
    text-decoration: none; 
    font-size: 14px;
}



/*    Presentacion  */

.presentacion{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #F5F5F5;
}
.presentacion__imagen{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.presentacion__titulo{
    font-size: 22px;
    font-weight: bold;
    margin: 1rem 0;
}
.presentacion__formacion{
    font-size: 14px;
    font-weight: 300; 
    margin-bottom: 1rem;
}
.presentacion__lista{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.lista__link{
    font-size: 14px;
    font-weight: 500;
}



/*     Sobre mi     */

.sobreMi{
    padding: 1rem;
    background: #EAF2FD;
}

.sobreMi__firma{
    width: 140px;
    height: 52px; 
    margin-top: 1rem; 
}



/*     Skills     */

.skillsHobbies{
    background: #F5F5F5; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillsHobbies__contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
}
.skillsHobbies__div{
    display: flex;
    justify-content: end;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: calc(40% - 1rem);
    height: 118px;
}
.skillsHobbies__caracteristicas{
    background-repeat: no-repeat;
    background-position: left;
    width: 28px;
    height: 37px; 
}
.skillsHobbies__caracteristicas--HTML{
    background-image: url(../img/html.svg); 
}
.skillsHobbies__caracteristicas--CSS{
    background-image: url(../img/css.svg);
}
.skillsHobbies__caracteristicas--JavaScript{
    background-image: url(../img/javaScript.svg);
}
.skillsHobbies__caracteristicas--React{
    background-image: url(../img/react.svg);
}
.skillsHobbies__nombre{
    margin-top: 1rem; 
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
}



/*    Hobbies    */

.skillsHobbies__caracteristicas--Musica{
    background-image: url(../img/oirMusica.svg);
}
.skillsHobbies__caracteristicas--Cocinar{
    background-image: url(../img/cocinar.svg);
}
.skillsHobbies__caracteristicas--Viajar{
    background-image: url(../img/viajar.svg);
}
.skillsHobbies__caracteristicas--Juegos{
    background-image: url(../img/videojuegos.svg);
}



/*    Formación academica     */

.formacion{
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formacion__contenedor{
    margin: 0 5rem;
    width: calc(100% - 5rem);
}
.formacion__logo{
    background-color: #FFFFFF;
    background-image: url(../img/logoAlura.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 296px;
    height: 118px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}



/*    Experiencia Profesional    */

.experiencia{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experiencia__container{
    margin: 0 5rem;
    width: calc(100% - 5rem);
}
.experiencia__imagen{
    width: 296px;
    height: 300px;
}
.experiencia__listas{
    display: flex;
}
.experiencia__listas_li{
    display: flex;
    border-style: solid;
    border-color: #2A7AE4; 
    border-radius: 5px;
    border-width: 2px; 
    width: 108px;
    height: 40px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center; 
    color: #2A7AE4;
}
.experiencia__lista_li--demo{
    background: #2A7AE4;
    color: #FFFFFF;
}
.experiencia__listas_link{
    font-size: 14px;
    font-weight: 500;
}



/*          Contacto               */

.contacto{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: #EAF2FD;
}
.contacto_titulo{ 
    padding-left: 2rem;
    align-self: flex-start;
}
.contacto__parrafo{
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    margin: 0 2rem;
    margin-bottom: 2rem;
}
.contacto__formulario{
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
}
.input__container{ 
    position:relative;
    display: flex;
    align-items: end;
    width: 100%;  
    height: 62px; 
    margin-bottom: 2rem;  
    background: #FFF;
}
.input{   
    width: 100%;
    height: 30px;
    padding: 0 1rem 0 1rem; 
    font-size: 16px; 
    color: #464646;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #C8C8C8;
}
.input:focus{
    outline: none; 
    border-bottom-color: #2A7AE4; 
}
.input:focus + .input__label{
    color: #2A7AE4;
} 
.input::placeholder {
    visibility: hidden;
}
.input__label{
    position: absolute;  
    font-size: 16px;
    top: 1.5rem;
    left: 1rem;
    color: #A2A2A2;
    transition: all 0.25s;
}    
.input:focus + .input__label, .input:not(:placeholder-shown) + .input__label{
    top: 0.5rem;
    font-size: 0.85rem;
    transition: all 0.25s;
}
.textArea__container{ 
    position:relative;
    display: flex;
    align-items: end;
    width: 100%;  
    height: 140px; 
    margin-bottom: 2rem;  
    background: #FFF;
}
.textArea{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100px;
    padding: 0 1rem 0 1rem; 
    font-size: 16px; 
    color: #464646;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #C8C8C8;
}
.textArea:focus{
    outline: none; 
    border-bottom-color: #2A7AE4; 
}
.textArea:focus + .input__label{
    color: #2A7AE4;
} 
.textArea::placeholder {
    visibility: hidden;
}
.textArea:focus + .input__label, .textArea:not(:placeholder-shown) + .input__label{
    top: 0.5rem;
    font-size: 0.85rem;
    transition: all 0.25s;
}

.formulario__boton{ 
    border-style: solid;
    border-color: #2A7AE4; 
    background: #2A7AE4;
    color: #FFFFFF;
    border-radius: 5px;
    border-width: 2px; 
    width: 133px;
    font-size: 14px; 
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 2rem;
}



/*            Footer          */

footer{
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-align: center;
    margin: 2rem 3rem; 
    font-size: 16px; 
    font-weight: 500; 
    color: #464646;
}


/*    Media Query de tablet    */

@media screen and (min-width: 768px){

    /*      cabecera       */
    .lista__email{
        font-weight: bold;
    }

    /*     Presentacion    */
    .presentacion{
        flex-wrap: wrap; 
        height: 140px;
    }
    .presentacion__imagen{
        order: 5;
        width: 146px;
        height: 146px;
    }
    .presentacion_div{
        width: calc(100% - 146px);
        box-sizing: border-box; 
        padding-right: 1.5rem;
    }
    .presentacion__lista{
        margin-right: 2rem;
        margin-bottom: 1rem; 
    }
    /* Skills y hobbies */
    .skillsHobbies__contenedor{
        justify-content: start;
    }
    .skillsHobbies__div{
        width: calc(27% - 1rem);
        margin: 1rem;
    }

    /*   Experiencia profesional    */
    .experiencia__imagen{
        width: 100%;
        height: 600px;
    }

    /*   Contacto parrafo     */
    .contacto__parrafo{
        width: calc(100% - 4rem);
    }
}

/*     Media Query para laptop    */
@media screen and (min-width: 1024px) and (max-width: 1440px){

    /*         Cabecera                  */
    .cabecera_menu{
        width: 60%;
    }
    .cabecera_ul{
        display: flex; 
        justify-content: space-around;
    }
    .cabecera__lista--link{
        display: block;
    }

    /*          Presentacion            */
    .presentacion{
        flex-wrap: wrap; 
        height: 368px; 
        padding: 6rem;
    }
    .presentacion__imagen{
        order: 5;
        width: 368px;
        height: 368px;
    }
    .presentacion_div{
        width: calc(100% - 368px);
        box-sizing: border-box; 
        padding-right: 3rem;
    }
    .presentacion__titulo{
        font-size: 52px;
        margin: 1rem 0;
    }
    .presentacion__formacion{
        font-size: 22px;
        margin-bottom: 1rem;
    }
    .presentacion__lista{
        margin-top: 2rem;
        padding: 0 20rem 0 0;
    }
    .lista__link{
        font-size: 16px;
    }


    /*        Sobre mi          */
    .sobreMi{
        padding-left: 5rem;
    }
    .sobremi__parrafo{
        font-size: 16px;
        width: 800px;
    }
}
    
