/*     Fuentes    */
body{
    font-family: 'Raleway', sans-serif;
}
/*     Header    */
.cabecera{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background: #F5F5F5;
    height: 56px;
}
.cabecera__titulo{
    font-size: 16px;
    font-weight: bold;
    /*font-family: 'Raleway';*/
}
.lista__email{
    text-decoration: none; 
    font-size: 14px;
}



/*    Presentacion  */

.presentacion{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #F5F5F5;
}

.presentacion__imagen{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.presentacion__titulo{
    font-size: 22px;
    font-weight: bold;
    margin: 1rem 0;
}

.presentacion__formacion{
    font-size: 14px;
    font-weight: 300;/*--*/
}

.presentacion__lista{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.lista__link{
    /*color: #464646;*/
    font-size: 14px;
    font-weight: 500;/*--*/
}



/*     Sobre mi     */

.sobreMi{
    padding: 1rem;
    background: #EAF2FD;
}
/*El titulo ocupo las mismas caracteristicas que el titulo de presentacion
ocuparon la clase presentacion__titulo*/
.sobreMi__descripcion{
    font-size: 14px;
    font-weight: 300;
}
.sobreMi__firma{
    width: 140px;
    height: 52px; 
    margin-top: 1rem; 
}


/*     Skills     */
.skills{
    /*padding: 1rem;*/
    background: #F5F5F5; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
}
.contenedor__div{
    display: flex;
    justify-content: end;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: calc(40% - 1rem);
    height: 118px;
}
.contenedor__div--HTML{
    background-image: url(../img/html.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 28px;
    height: 37px;
}
.contenedor__div--CSS{
    background-image: url(../img/css.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.contenedor__div--JavaScript{
    background-image: url(../img/javaScript.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.contenedor__div--React{
    background-image: url(../img/react.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}

.skills__nombre{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bold;
}



/*    Hobbies    */

.hobbies{
    background: #F5F5F5; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hobbies__contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
}
.hobbies__div{
    display: flex;
    justify-content: end;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: calc(40% - 1rem);
    height: 118px;
}
.hobbies__div--Musica{
    background-image: url(../img/oirMusica.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.hobbies__div--Cocinar{
    background-image: url(../img/cocinar.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.hobbies__div--Viajar{
    background-image: url(../img/viajar.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.hobbies__div--Juegos{
    background-image: url(../img/videojuegos.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 37px;
}
.hobbies__nombre{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bold;
}